@charset "UTF-8";

/* 共通部分 ------------------------------------------ */
html {
    font-size: 100%;
}

body {
      font-family: "Noto Sans JP", sans-serif;
      font-size: 16px;
      line-height: 1.7;
      color: #432;
      background-color: #fafafa;
}

main {
  padding-top: 60px;
}

a {
    text-decoration: none;
}

image {
    max-width: 100%;
}


/* ヘッダー ------------------------------------- */
.logo {
    width: 210px;
    height: 80px;
    margin-top: 14px;
    object-fit: cover;
}

.page-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  padding: 0 24px;
  position: fixed;
  z-index: 1000;
}

header nav {
  margin: 0 0 0 auto;
}

.main-nav {
  display: flex; /* PC表示では通常のフレックスボックスで表示 */
  list-style: none;
  font-size: 14px;
}

.main-nav li {
  margin-left: 20px;
  text-align: center;
}

.main-nav img {
  width: 25px;
  margin-top: 10px;
}

.main-nav a {
  color: #432;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.main-nav a:hover {
  color: #597BA0;
}



/* ハンバーガーメニュー */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin: 0;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #432;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
  }

  .main-nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #fafafa;
      width: 100%;
      z-index: 1;
  }

  .main-nav.active {
      display: flex;
  }

  .main-nav li {
      margin: 10px 0;
  }
}



/* フッター --------------------------------- */
footer {
    color: #fafafa;
    background-color: #597BA0;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}

.sub_nav {
    display: flex;
    list-style: none;
    justify-content: center;
}

.sub_nav li {
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.sub_nav a {
    color:#fafafa;
}

.sub_nav a:hover{
    color: #83A2C3;
}


/* ホーム ----------------------------------------*/
/* メイン画像アニメーション -------------------------*/

#slide ul{
	position:relative;
}

#slide li{
	position:absolute;
  width: 100%;
  margin: auto;
  text-align: center;
}

#button{
	padding-top:640px;
	text-align:center;
}

#button ul{
	display:inline-block;
    list-style: none;
}

#button ul li{
	float:left;
	margin-right:15px;
}

#button ul li:last-child{
	margin-right:0;
}

#button ul li a{
	text-indent:-9999px;
	text-decoration:none;
	display:block;
	width:14px;
	height:14px;
	border-radius:7px;
	background:#83A2C3;
}

#button ul li a.target{
	background:#597BA0;
}

/* 文字の横スクロール -----------------------*/

/* ulタグ */
.scroll-list {
    display: flex;
    list-style: none;
    padding-inline: 0;
    margin-inline: 0;
    gap: 0;
    background-color: #fafafa;
    overflow: hidden;
  }

  /* liタグ */
  .scroll-list li {
    color: #597BA0;
    opacity: 0.6;
    font-family: "Playfair Display", serif;
    font-size: 3em;
    white-space: nowrap;
    padding: 0 1em 0 0;
    margin: 0;
    animation: marquee-left 16s linear infinite;
  }

  /* PCの時のフォントサイズ */
  @media (min-width: 600px) {
    .scroll-list li {
      font-size: 8vw;
    }
  }

  /* アニメーション */
  @keyframes marquee-left {
    100% {
      transform: translateX(-100%);
    }
  }


/* 紹介スペース -------------------------------- */
.about {
    height: 600px;
    background-image: url(../images/bg1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: 50%;
}

.text h3 {
    font-size: 24px;
    margin: 0;
    color: #F57060;
    margin-bottom: 25px;
}

.text p {
    line-height: 50px;
}

.about_img {
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
}

.about_img img {
    width: 100%;
    height: auto;
}

.about:nth-of-type(even) {
  flex-direction: row-reverse;
}

.about:nth-of-type(even) .text {
    text-align: right;
}

.about:nth-of-type(even) .about_img {
    width: 50%;
}

.about:nth-of-type(even) {
        height: 590px;
        background-image: url(../images/bg2.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        align-items: center;
}

/* コース紹介 --------------------------------*/
.course_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.course_2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.course_2 img {
    width: 100%;
}

/* ボタン */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn_04 {
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 500px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: 2px solid #F57060;
    background: #F57060;
    color: #fff;
    border-radius: 50px;
    transition: 0.5s;
    font-size: 16px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

a.btn_04:hover {
	color: #F57060;
	background: #fff;
}

a.btn_04 .small-text {
    font-size: 12px;
    display: block;
    font-weight: normal;
}

/* お客さまの声 ---------------------------*/
.voices {
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
}

.voices h2 {
    font-size: 24px;
    color: #F57060;
    padding-top: 45px;
}

.voices h3 {
    padding-bottom: 10px;
}

.voice img {
    width: 100%;
    height: auto;
}

.voice {
    display: flex;
    justify-content: space-around;
}

.voice_box {
    width: 80%;
    list-style: none;
    height: max-content;
    margin: 30px 20px 30px 20px;
    padding: 10px;
    border: 1px #432 solid;
    background-color: #fafafa;
}

/* PC表示用のスタイル */
@media (min-width: 768px) {
  .voice-slider {
      display: flex;
      justify-content: space-between;
  }
}


/* 会社住所 --------------------------------- */
.adress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0;
}

.adress img {
    width: 400px;
}



/* にゃんこれラインナップ -----------------------------*/
.course_section {
    margin-bottom: 100px;
}

/* タイトル -----------------------------------*/
.course_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(225,255,255,0.5)), url(../images/lineup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.course_title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

/* コース別紹介 ----------------------------------*/
.course_box {
    height: 500px;
    background-image: url(../images/bg1.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.o_text {
    width: 50%;
}

.o_text h3 {
    font-size: 24px;
    margin: 0;
    color: #F57060;
    margin-bottom: 25px;
}

.otameshi {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.medal {
    position: absolute;
    top: -20px;
    right: 100px;
}

.tanoshimi {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mankitsu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manzoku {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_box:nth-child(even) {
    flex-direction: row-reverse;
}

.course_box:nth-child(even) .o_text {
    text-align: right;
}

.course_box:nth-child(even) .otameshi .tanoshimi .mankitsu .manzoku{
    width: 50%;
}

.course_box:nth-child(even) {
        height: 500px;
        background-image: url(../images/bg2.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        align-items: center;
}

/* セット内容テーブル ----------------------------*/
.table-wrapper {
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}

table tr {
  border-bottom: 1px solid #ccc;
}

table th, table td {
  padding: 5px;
  font-size: 14px;
  line-height: 1.2;
}

table th {
  background-color: #597BA0;
  color: #fafafa;
  text-align: center;
  width: 30%;
}

table td {
  background-color: #fafafa;
  text-align: center;
}

.course_box:nth-child(even) .table-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.course_box:nth-child(even) table {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}

/* ボタン */
a.btn_04 {
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 500px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: 2px solid #F57060;
    background: #F57060;
    color: #fff;
    border-radius: 50px;
    transition: 0.5s;
    font-size: 16px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

a.btn_04:hover {
	color: #F57060;
	background: #fff;
}

a.btn_04 .small-text {
    font-size: 12px;
    display: block;
    font-weight: normal;
}

/* にゃんコレが選ばれる理由 ----------------------------*/
.features_section {
    margin-top: 100px;
    margin-bottom: 100px;
}
/* タイトル -----------------------------------*/
.features_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(225,255,255,0.5)), url(../images/features.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.features_title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

/* ポイント ----------------------------------*/
.features_box {
    height: 550px;
    background-image: url(../images/bg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.point {
    display: flex;
    align-items: center;
}

.f_text {
    width: 50%;
    text-align: left;
    margin-left: 100px;
}

.f_text h3 {
    font-size: 24px;
    margin: 0;
    color: #F57060;
    letter-spacing: 5px;
}

.features_img {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* よくある質問 -----------------------------------------*/
.question_section {
    margin-top: 100px;
    margin-bottom: 100px;
}
/* タイトル ----------------------------------------*/
.question_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(225,255,255,0.5)), url(../images/faq.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.question_title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

/*=========
accordion
=========*/

.s_section {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

.gutter>*:not(:last-child) {
    margin-bottom: 1.5rem;
}

.accordion_area .accordion_one .ac_header {
  background-color: rgba(235,223,192,0.8);;
  border: 1px solid #ccc;
  padding: 1.5rem 4rem 1.5rem 2rem;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition: .2s;
}
.accordion_area .accordion_one .ac_header:not(.open):hover {
  background-color: #EBDFC0;
}
.accordion_area .accordion_one:nth-child(odd) .ac_header {
  background-color: rgba(235,223,192,0.8);
}
.accordion_area .accordion_one:nth-child(odd) .ac_header:not(.open):hover {
  background-color: #EBDFC0;
}
.accordion_area .accordion_one .ac_header .i_box {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
.accordion_area .accordion_one .ac_header .i_box:before, .accordion_area .accordion_one .ac_header .i_box:after {
  position: absolute;
  content: "";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}
.accordion_area .accordion_one .ac_header .i_box:before {
  border-top: 2px solid #F57060;
  width: 20px;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.accordion_area .accordion_one .ac_header .i_box:after {
  border-left: 2px solid #F57060;
  width: 0;
  height: 20px;
  top: 0;
  bottom: 0;
  right: 9px;
  transition: .3s;
}
.accordion_area .accordion_one .ac_header.open .i_box:after {
  height: 0;
}
.accordion_area .accordion_one .ac_inner {
  display: none;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
}
@media screen and (max-width: 736px) {
  .accordion_area .accordion_one .ac_header {
    padding: 1.5rem 2rem 1.5rem 1.0rem;
  }
  .accordion_area .accordion_one .ac_header .i_box {
    right: 0.8rem;
    width: 15px;
    height: 15px;
    margin-top: -7px;
  }
  .accordion_area .accordion_one .ac_header .i_box:before {
    width: 15px;
  }
  .accordion_area .accordion_one .ac_header .i_box:after {
    height: 15px;
    right: 7px;
  }
  .accordion_area .accordion_one .ac_inner {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

/*=========
faq
=========*/

.p-faq__headinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}
.p-faq__headinner::before {
  position: absolute;
  left: 0;
  content: "Q．";
  color: #597BA0;
  font-size: 20px;
  font-weight: bold;
}
.p-faq__headinner p.p-faq__q-txt {
  font-size: 20px;
}
@media screen and (max-width: 736px) {
  .p-faq__headinner {
    padding-left: 25px;
  }
  .p-faq__headinner::before {
    font-size: 14px;
  }
  .p-faq__headinner p.p-faq__q-txt {
    font-size: 14px;
  }
}
.p-faq__bodyinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}
.p-faq__bodyinner::before {
  position: absolute;
  left: 0;
  content: "A．";
  color: #F57060;
  font-size: 20px;
  font-weight: bold;
}
.p-faq__bodyinner p.p-faq__a-txt {
  font-size: 20px;
}
@media screen and (max-width: 736px) {
  .p-faq__bodyinner {
    padding-left: 25px;
  }
  .p-faq__bodyinner::before {
    font-size: 14px;
  }
  .p-faq__bodyinner p.p-faq__a-txt {
    font-size: 14px;
  }
}

/* お問い合わせ -----------------------------------------*/
.contact_section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.contact_section img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}
/* タイトル ----------------------------------------*/
.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(225,255,255,0.5)), url(../images/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact_title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
}

/* 電話 ----------------------------------*/
.tel_box {
    background-color: rgba(235,223,192,0.8);
    padding: 20px 0;
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.tel_box p {
    font-size: 24px;
}

.tel_box p:nth-child(3) {
    margin-top: 10px;
    font-weight: bold;
    font-size: 40px;
}
/* メール ----------------------------------*/
.mail_box {
    background-color: rgba(235,223,192,0.8);
    padding: 20px 40px;
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.m_title {
    font-size: 24px;
    margin-bottom: 20px;
}

.under {
    border-bottom: dotted 3px #F57060;
}

/*リセットcss↓*/
html {
    overflow-y: scroll;
  }
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
  }
  address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  caption,th {
    text-align: left;
  }
  q:before,q:after {
    content: '';
  }
  object,embed {
    vertical-align: top;
  }
  hr,legend {
    display: none;
  }
  h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
  }
  img,abbr,acronym,fieldset {
    border: 0;
  }
  li {
    list-style-type: none;
  }
  sup {
    vertical-align: super;
    font-size: 0.5em;
  }
  img {
    vertical-align: top;
  }
  i {
    font-style: normal;
  }
  /*----リセットcss*----/

  /*デザインcss↓*/
  .box_con08 {
    max-width: 800px;
    margin: 0  auto;
  }
  @media only screen and (max-width: 768px) {
    .box_con08 {
      width: 95%;
    }

    .tel_box {
      width: 95%;
    }
  }
  .box_con08 form {
    width: 100%;
  }
  .box_con08 form ul {
    width: 100%;
    background: rgba(235,223,192,0);
  }
  .box_con08 form ul li {
    position: relative;
    overflow: hidden;
    margin: .5em 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (min-width: 769px) {
    .box_con08 form ul li {
      display: -webkit-flex;
      display: flex;
    }
  }
  @media print {
    .box_con08 form ul li {
      display: -webkit-flex;
      display: flex;
    }
  }
  .ie8 .box_con08 form ul li {
    display: -webkit-flex;
    display: flex;
  }
  .box_con08 form ul li .title {
    position: relative;
    width: 30%;
    font-weight: normal;
    padding: 1em;
    position: relative;
  }
  @media only screen and (min-width: 769px) {
    .box_con08 form ul li .title {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  @media print {
    .box_con08 form ul li .title {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  .ie8 .box_con08 form ul li .title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .box_con08 form ul li .title {
      text-align: center;
      width: 100%;
      display: block;
      padding: .8em .2em;
      color: #432;
      background: rgba(235,223,192,0);
    }
  }
  .box_con08 form ul li .title em {
    position: relative;
    z-index: 1;
  }
  .box_con08 form ul li .title span {
    background: #F57060;
    padding: 0 .3em;
    color: #fafafa;
    margin-left: .5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_con08 form ul li .box_det {
    width: 70%;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .box_con08 form ul li .box_det {
      display: block;
      width: 100%;
    }
  }
  .box_con08 form ul li .box_br {
    display: block;
  }
  .box_con08 form ul li select, .box_con08 form ul li textarea, .box_con08 form ul li .wide {
    width: 100%;
    height: 3em;
    padding: .5em;
    border: none;
    outline: none;
    background: transparent;
    background: #fafafa;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_con08 form ul li textarea {
    height: 10em;
  }

  .box_check {
    text-align: center;
    margin: 1em auto;
  }
  .box_check label {
    display: inline-block;
  }
  .box_check label span {
    margin-left: .3em;
  }

  .btn {
    text-align: center;
  }
  .btn input {
    display: inline-block;
    background: #F57060;
    padding: .5em 4em;
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
    border: none;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .btn input:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }


/* モバイル版 -----------------------------------*/
/* 画面幅が768px以下の時 */
@media screen and (max-width: 768px) {
  .logo {
      width: 150px;
      height: 50px;
  }
/* スライダー・メイン画像 */
  #slide {
      height: auto;
      width: 100%;
  }

  #button {
      padding-top: 530px;
  }

  /* ABOUT */
  .about {
    height: auto;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/sp_bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text {
    width: 80%;
    margin-bottom: 30px;
  }

  .text p {
    line-height: 24px;
    margin-top: 0;
  }

  .about_img {
    width: 80%;
    margin-top: 30px;
  }

  .about:nth-of-type(even) {
    flex-direction: column;
    text-align: center;
    height: auto;
    background-image: url(../images/sp_bg2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin-top: 50px;
  }

  .about:nth-of-type(even) .text{
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
  }

  .about:nth-of-type(even) .text p {
    margin-top: 0;
  }

  .about:nth-of-type(even) .about_img {
    width: 80%;
    margin-top: 30px;
  }

/* コース画像 */
.course_1 img {
  width: 100%;
}

/* お客様の声 */
.voices {
  height: auto;
  background-image: url(../images/sp_bg6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.voice {
  flex-direction: column;
  width: 100%;
  }

/* スライダー時のスタイル */
  .voice-slider .voice {
      display: block;
      width: 100%;
  }

  .voice-slider {
    text-align: center;
  }

/* アドレス */
.adress {
  height: auto;
}

.adress img {
  width: 190px;
  height: auto;
}

/* にゃんこれラインナップページ */
.course_box {
  background-image: url(../images/sp_bg3.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  flex-direction: column;
  height: auto;
  margin-top: 50px;
}

.o_text, .otameshi, .tanoshimi, .mankitsu, .manzoku {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.otameshi img {
  width: 80%;
  height: auto;
  margin-top: 20px;
}

.tanoshimi img {
  width: 80%;
  margin-top: 20px;
}

.mankitsu img {
  width: 80%;
  margin-top: 20px;
}

.manzoku img {
  width: 80%;
  margin-top: 20px;
}

.medal {
  top: -40px;
  right: -40px;
}

.table-wrapper {
  width: 100%;
}

table th {
  width: 50%;
}

a.btn_04 {
  width: 80%;
  padding: 1rem;
  font-size: 14px;
  margin-bottom: 20px;
}

.course_box:nth-child(even) {
      flex-direction: column;
      background-image: url(../images/sp_bg4.png);
      height: auto;
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
}

.course_box:nth-child(even) .o_text{
  text-align: center;
}

.course_box:nth-child(even) table {
  width: 100%;
}

/* 選ばれる理由 ------------------------------------*/
.features_box {
  display: flex;
  flex-direction: column;
  height: auto;
  background-image: url(../images/sp_bg5.png);
  background-repeat: no-repeat;
  margin-top: 50px;
}

.features_section {
  margin-top: 50px;
}
.f_text {
  width: 80%;
  text-align: center;
  margin-left: 0;
  margin-bottom: 20px;
}

.f_text h3 {
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.features_img {
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}

.point {
  flex-direction: column;
}

.point img {
  width: 80px;
  margin-top: 50px;
}

.features_img img {
  width: 60%;
}

/* フッター */

  footer {
      font-size: 12px;
  }

  .sub_nav {
      flex-direction: column;
  }

  .sub_nav li {
      margin-left: 0;
      margin-bottom: 10px;
  }

  body {
      font-size: 14px;
      line-height: 1.5;
  }

  .container, .wrapper {
    padding: 0 2%;
}
  .course_title {
    font-size: 24px;
  }

  .course_container {
    height: 150px;
  }


  .features_title {
    font-size: 24px;
  }

  .features_container {
    height: 150px;
  }


  .question_title {
    font-size: 24px;
  }

  .question_container {
    height: 150px;
  }

  .question_section {
    margin-top: 50px;
  }


  .contact_title {
    font-size: 24px;
  }

  .contact_container {
    height: 150px;
  }

  .contact_section {
    margin-top: 50px;
  }
}


